<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PrinterApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1. 6.0/themes/prism.min.css" rel="stylesheet"/>-->
  <link href="/static/styles.93010ee6bcbe91c3755b.bundle.css" rel="stylesheet" />
</head>

<body>
  <div style="width:100%; height:50vh; text-align: center; max-height: 450px; overflow: hidden;">
    <div>You are in a second display!</div>
  </div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <script type="text/javascript" src="static/inline.92ca662b866685ddd0b3.bundle.js"></script>
  <script type="text/javascript" src="static/polyfills.f20484b2fa4642e0dca8.bundle.js"></script>
  <script type="text/javascript" src="static/main.20af78fb1b9460fd4c95.bundle.js"></script>
</body>

</html>